<div class="row justify-content-center">
	<div class="col-lg-8">
		<form action="" method="get" accept-charset="utf-8" class="form-horizontal form-default form-col-1">
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control">
						<label>Demo</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control">
						<label>Demo</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control">
						<label>Demo</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control">
						<label>Demo</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control">
						<label>Demo</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control">
						<label>Demo</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control btn-control-right">
						<button type="" class="btn-custom btn-blue">SAVE</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>