<div class="row">
	<div class="col-lg-12">
		<div class="collapse-box">
			<div id="accordion" role="tablist">
				<!-- 1 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading1">
						<h5 class="mb-0">
						<a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
							Floor #1
						</a>
						</h5>
					</div>
					<div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading2">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
							Floor #2
						</a>
						</h5>
					</div>
					<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading3">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
							Floor #3
						</a>
						</h5>
					</div>
					<div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading4">
						<h5 class="mb-0">
						<a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
							Floor #4
						</a>
						</h5>
					</div>
					<div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading5">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
							Floor #5
						</a>
						</h5>
					</div>
					<div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading6">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
							Floor #6
						</a>
						</h5>
					</div>
					<div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading7">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
							Floor #7
						</a>
						</h5>
					</div>
					<div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 8 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading8">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
							Floor #8
						</a>
						</h5>
					</div>
					<div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 9 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading10">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
							Floor #10
						</a>
						</h5>
					</div>
					<div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 10 -->
				<div class="card">
					<div class="card-header" role="tab" id="heading10">
						<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
							Floor #10
						</a>
						</h5>
					</div>
					<div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-basic table-rounded-basic">
									<thead>
										<tr>
											<th>Numbers</th>
											<th>UserName</th>
											<th>Member’s Name</th>
											<th>Upline/Sponsor</th>
											<th>Active Date</th>
											<th>Package</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
										<tr>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
											<td>Demo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>