<!-- ERROR 404 SECTION begin -->
<div class="error-404-section section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-10 col-md-offset-1">
                <div class="content">
                    <h2>404</h2>
                    <h3>The page you are looking for does not exist.</h3>
                    <p>We’re sorry but we can’t seem to find the page you requested. This might be because you have typed the web address incorrectly.</p>
                    <a href="index.html" class="theme-btn-s2">Go back home</a>
                    <div class="icon">
                        <i class="fa fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- ERROR 404 SECTION end -->


<style>
    .error-404-section .content h2{font-size:82px;font-size:5.125rem;color:#73b21a;margin:0 0 0.2em;}
    .error-404-section .content h3{font-size:24px;font-size:1.5rem;color:#73b21a;margin:0 0 1.5em;}
    .error-404-section .content p{font-size:18px;font-size:1.125rem;font-style:italic;margin:0 0 2em;}
    .error-404-section .content .icon{position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
    .error-404-section .content .icon i{font-size:150px;font-size:9.375rem;color:#73b21a;opacity:0.2;}
    @media screen and (min-width:1200px){
        .error-404-section .content{padding-right:350px;}
    }
    @media (max-width:767px){
        .error-404-section .content{text-align:center;}
        .error-404-section .content .icon {display: none;}
    }
</style>