<!-- PERSONAL INFORMATION UPDATES BEGIN  -->
<div class="row justify-content-center">
	<div class="col-lg-8">
		<div class="text-center text-uppercase">
			<h3>PERSONAL INFORMATION UPDATES</h3>
		</div>
		<form action="" method="get" accept-charset="utf-8" class="form-horizontal form-default form-group-col-2">
			<div class="form-group row">
				<!-- 1 -->
				<div class="col-md-6">
					<div class="box-control">
						<label>User Name</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
					<div class="box-control">
						<label>Full Name</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
					<div class="box-control">
						<label>Your Email</label>
						<input type="email" name="" value="" placeholder="" class="form-control">
					</div>
					<div class="box-control">
						<label>Your Phone</label>
						<input type="number" name="" value="" placeholder="" class="form-control">
					</div>
					<div class="box-control">
						<label>Country</label>
						<select name="" class="form-control">
							<option value="">English</option>
							<option value="">Vietnam</option>
						</select>
					</div>
					<div class="box-control">
						<label>Address</label>
						<input type="text" name="" value="" placeholder="" class="form-control">
					</div>
				</div>

				<!-- 2 -->
				<div class="col-md-6">
					<div class="avatar-control">
                        <div class="title-upload">
                        	<div class="avatar-upload">
                        		<img src="images/avatar/cartoon.png" alt="" class="upload-img">
                        	</div>
                            <input type="text" name="" value="" placeholder="No choose file" id="filename">
                        </div>
                        <div class="text-white ">Note: Image only accept * jpg, * png and max size 2 MB</div>
                    </div>
                    <div class="control-input text-center">
                        <div class="list-btn-upload">
                            <label class="btn btn-browse">
                                <img src="images/icon/if_122_CloudUpload_183248.svg" alt="" style="height: 20px;position: relative;top: -2px;"> Upload<input type="file" style="" id="upload"> 
                            </label>
                        </div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control btn-control-right">
						<button type="" class="btn-custom btn-blue">NEXT</button>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="box-control text-center">
						If you’ve forgotten your password, we’ll send you an email to reset your password.
						<br>
						Already a member? <a href="l-signin.html" title="Sign In System">Click here to Login System</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- PERSONAL INFORMATION UPDATES END -->


