<div style="height: 1500px;">
	<div style="margin-top: 50px;" class="">
		{FILE "./template/includes/module/system/table-1.html"}
	</div>
	<div style="margin-top: 50px;" class="">
		{FILE "./template/includes/module/social.html"}
	</div>
	<div style="" class="">
		{FILE "./template/includes/module/pagination.html"}
	</div>
	<div style="" class="">
		{FILE "./template/includes/module/pagination-ractangle.html"}
	</div>
	<div style="" class="">
		{FILE "./template/includes/module/pagination-circle.html"}
	</div>
	<div style="margin-top: 50px;" class="">
		{FILE "./template/includes/module/breadcrumbs.html"}
	</div>
	<div style="" class="">
		{FILE "./template/includes/module/breadcrumbs-icon.html"}
	</div>
	<div style="margin-top: 50px;" class="">
		{FILE "./template/includes/module/footer-info-contact.html"}
	</div>


	<div style="margin-top: 50px;" class="">
		{FILE "./template/includes/module/gotop.html"}
	</div>

	<!-- NEWS -->
	<div style="margin-top: 50px;" class="row">
		<div class="col-md-4">
			{FILE "./template/includes/module/news/sidebar-right-recent-posts.html"}
		</div>
	</div>
	<div style="margin-top: 50px;" class="row">
		<div class="col-md-4">
			{FILE "./template/includes/module/news/tags.html"}
		</div>
		<div class="col-md-4">
			{FILE "./template/includes/module/news/gallery.html"}
		</div>
	</div>
	<hr>
	<div style="margin-top: 50px;" class="row">
		<div class="">
			{FILE "./template/includes/module/news/news-area.html"}
		</div>
		<div class="col-md-7">
			{FILE "./template/includes/module/news/show-all-blog.html"}
		</div>
	</div>
	
	<!-- NEWS DETAIL -->
	<div style="margin-top: 50px;" class="row">
		<div class="col-md-8">
			{FILE "./template/includes/module/news/comments.html"}
			{FILE "./template/includes/module/news/leave-form.html"}
		</div>
	</div>
	<!-- FOOTER -->
	<div class="row">
		<div class="col-lg-12">
			{FILE "./template/includes/module/footer/footer-col4.html"}
			<br>
			<div>
				{FILE "./template/includes/module/footer/copyright-col1.html"}
				<br>
				{FILE "./template/includes/module/footer/copyright-col2.html"}
				<br>
			</div>
		</div>
	</div>

	<!-- CONTACT -->
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			{FILE "./template/includes/module/contact/contact-style1.html"}
			<br>
			{FILE "./template/includes/module/contact/contact-style2.html"}
		</div>
	</div>
</div>


